.classpath
.project
.settings/
target/
*.iml
.idea/
*.log
uploads/
*.jar
*.war
*.ear
.gradle/
.gradle-cache/

# Maven
pom.xml
!**/pom.xml

# Eclipse
.apt_generated/

# IntelliJ
out/

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/

